<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <mat-card style="max-width: 400px;">

        <mat-card-header><h1>iniciar sesion</h1></mat-card-header>

        <mat-card-content> 

            <mat-form-field class="w-full mb-3" appearance="outline">

                <mat-label>Email</mat-label> 
                
                <input matInput/>

                <mat-hint>Debe poner un mail</mat-hint>

                <mat-icon matSuffix >mail</mat-icon>

            </mat-form-field>


            <mat-form-field class="w-full">
                        <mat-label>Rol</mat-label>
                    <mat-select>
                        <mat-option value="Admin">Admin</mat-option>
                        <mat-option value="User">User</mat-option>
                        

                    </mat-select>

            </mat-form-field>

        </mat-card-content>
    </mat-card>
</div>